.page__role--permission {
  th {
    padding: 10px 0;
  }
  td {
    padding: 3px 0;
  }
  td.td_input {
    text-align: center;
  }
  .text-right {
    text-align: right;
    button {
      padding: 5px;
      cursor: pointer;
    }
  }
}
