// td, th {
//     text-align: center;
// }
// td.text-left {
//     text-align: left;
//     padding: 10px;
// }
.text-right {
    text-align: right;
    button {
        padding: 5px;
        cursor: pointer;
    }
}