.page__products {
    margin-top: 35px;
    .wrapper {

        .products {
            display: flex;
            flex-wrap: wrap;
            gap: 0.6em;
        }
        .btn-more {
            margin-top: 20px;
            text-align: center;
        }
    }
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}