.ant-layout {
    min-height: 100vh;
}

.demo-logo-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;

    span {
        font-size: 1.8em;
        color: #ffffff;
        font-weight: 800;
    }
}