
.btn-add {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    border-style: dotted;
    margin-bottom: 1em;
    background-color: rgb(68, 155, 226);
    color: #ffffff;

    .icon-add {
        font-size: 0.8em;
        color: #ffffff;
    }

    &:hover {
        .icon-add {
            color: rgb(68, 155, 226);
        }
    }

}

table .ant-table-tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table .ant-table-tbody tr:nth-child(even) {
    background-color: #ffffff;
}