.page__home {
    margin-top: 3em;
    padding-top: 3em;

    .wrapper {
        .products {
            display: flex;
            flex-wrap: wrap;
            gap: 0.9em;
        }

        .btn-more {
            text-align: end;
            margin-bottom: 10px;
            overflow: hidden;
            Button {
                color: #000;

                &:hover {
                    color: #439ecb;
                }
                transform: translateX(250%);
                -webkit-transform: translateX(250%);
                -moz-transform: translateX(250%);
                -ms-transform: translateX(250%);
                -o-transform: translateX(250%);
                transition: all 0.5s ease-in;
                -webkit-transition: all 0.5s ease-in;
                -moz-transition: all 0.5s ease-in;
                -ms-transition: all 0.5s ease-in;
                -o-transition: all 0.5s ease-in;
}

            &:hover Button {
                transform: translateX(0);
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
            }
        }

        .posts {

            .ant-card .ant-card-body {
                padding: 8px;
            }
        }
    }
}